<html>

<head>
</head>

<body>
    <h1>
        Books
    </h1>
    <table>
        <thead>
           <td><b>Author</b></td>
           <td><b>Title</b></td>
        </thead>
        
        {% for book in books %}
           <tr>
              <td>{{book[0]}}</td>
              <td>{{book[1]}}</td>
           </tr>
        {% endfor %}
     </table>

    <h1>
        Add book
    </h1>
    <form method=post action="/add-book">
        Author: <input type=text name=author>
        Title: <input type=text name=title>
        <input type=submit value="Add book">
    </form>

    <a href=/users>Users<br></a>
    <a href=/logout>Logout</a>

</body>

</html>