<html>

<head>
</head>

<body>
    <h1>
        User
    </h1>
    <table>
        <thead>
            <td><b>Id</b></td>
            <td><b>Username</b></td>
            <td><b>Password</b></td>
            <td><b>Admin</b></td>
        </thead>
        
           <tr>
              <td>{{user[0]}}</td>
              <td>{{user[1]}}</td>
              <td>{{user[2]}}</td>
              <td>{{user[3]}}</td>
           </tr>
     </table>

    <a href=/users>Users<br></a>
    <a href=/books>Books<br></a>
    <a href=/logout>Logout</a>

</body>

</html>